# Set COLLECTOR_HOST if collector's internal hostname doesn't match DNS name
# and also set sock=COLLECTOR if using shared port
# example:
# COLLECTOR_HOST = ci.kbase.us:9618?sock=collector
#
MASTER_NAME = _CONDOR_NAME_
SCHEDD_NAME = _CONDOR_NAME_
CONDOR_HOST = _CONDOR_HOST_
SCHEDD_HOST = _CONDOR_SCHEDD_
COLLECTOR_HOST = $(CONDOR_HOST)?sock=collector
CCB_ADDRESS = $(COLLECTOR_HOST)


UPDATE_COLLECTOR_WITH_TCP = True
UPDATE_VIEW_COLLECTOR_WITH_TCP = True
WANT_UDP_COMMAND_SOCKET = False
COLLECTOR_MAX_FILE_DESCRIPTORS = 3000


UID_DOMAIN = nmdc-condor
DAEMON_LIST = MASTER, STARTD

DISCARD_SESSION_KEYRING_ON_STARTUP = False

START = True
SUSPEND = False
PREEMPT = False
KILL = False

USE_SHARED_PORT = TRUE

HighLoad = 50


FLOCK_FROM = *

SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_DEFAULT_AUTHENTICATION_METHODS = PASSWORD
SEC_CLIENT_AUTHENTICATION_METHODS = PASSWORD

SEC_DEFAULT_NEGOTIATION = REQUIRED


SEC_PASSWORD_FILE = _CONDOR_PASSWORD_

START = True

# Options for frequency of negotiation, and minimum time length of the negotiation cycle
NEGOTIATOR_INTERVAL = 5
NEGOTIATOR_CYCLE_DELAY = 5

CONCURRENCY_LIMIT_DEFAULT = 10

REMOVE_SIGNIFICANT_ATTRIBUTES = HEALTH_STATUS_MESSAGE

